.choresText {
   font-family:'Verdana';
   font-size: 18pt;
   color: rgb(126, 70, 205);
   font-style: italic;
}

.choresHeading {
   text-decoration: underline;
   color: rgb(81, 9, 182);
   font-size: 22pt;
}